<h1>New Word</h1>
<div class="ui left grid">
	<div class="six wide column">
		<div class="ui segment">
			<%= render 'form', word: @word %>

			<%= link_to 'Back', words_path %>
		</div>
	</div>
</div>
