<div class="ui inverted fixed menu">
    <%= link_to 'Create Test', create_tests_path, class: 'item' %>
	<div class="right item">
		<% if user_signed_in? %>
	    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class:'tiny ui orange button', id: 'sign_out_button' %>		
    <% else %>
			 <%= link_to 'Sign In', new_user_session_path, class: 'tiny ui primary button', id: 'sign_in_button' %>
	  <% end %>  
	</div>
</div>
